<div class="about">
  <div id="container" class="containery intro-effect-push">
    <header class="header">

    </header>

    <div class="title text-center">
      <h1>HAKKIMIZDA</h1>
    </div>
  </div>
  <article class="content" id="progress-measure">
    <div>
      <p>
        Elinizdeki Canon, Nikon veya Sony fotoğraf makinesi için yedek batarya
        almak istiyorsunuz ama hem çok fazla model var hem de hangi bataryanın
        ne özelliği var, hiç bilmiyorsunuz. Bu fotoğraf makinesi için
        batarya/pil rehberi, çeşitli fotoğraf makinesi bataryaları hakkında
        bilgi vermek ve satın almanız gereken bataryayı kolaylıkla
        belirleyebilmeniz için hazırlandı.
      </p>

      <h2>Dijital Fotoğraf Makinesi Bataryaları</h2>
      <p>
        Çoğu fotoğraf makinesi, uyumlu küçük, dikdörtgen veya kare şeklinde, 5
        mm’ den daha ince bir yapıya sahip, batarya ile satılır. Bunlara
        Lityum-ion bataryalar denir. Lityum-ion bataryalar defalarca şarj
        edilebilir. En sonunda dayanıklılıkları ve uzun süren pil ömrü
        özelliklerini yitirirler. Video kameralara kıyasla dijital fotoğraf
        makineleri çok daha fazla enerji tüketir.<br /><br />
        Diğer kameralar, özellikle piyasadaki ucuz fotoğraf makineleri, AA pil
        boyutunda bir batarya ile gelir ve liyum-ion bataryalarla uyumlu
        değildir. Pil bittiğinde tekrar yenisiyle değiştirilebilir olması
        fotoğrafçı için hiç iyi bir durum değildir. Aynı zamanda Lityum-ion
        pillere göre çok daha hızlı pil ömrüne sahip olan bu piller, bir pil
        çöplüğü ve yeni pillere harcadığınız parayla, fazla kullanışlı
        sayılmaz.
      </p>
    </div>
  </article>
</div>